{{ set(this, 'title', "Thank You") }}
<div class="auth">
    <div class="auth__content">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane login active forgot-password text-center" id="signIn">
                <h2 class="helper-text">Your reset password email has been sent successfully.</h2>
                <a href="{{_AppHelper.getLoginUrl()}}" class="button" style="margin-top:20px">Back to login</a>
            </div>
        </div>
    </div>
</div>