{{ set(this, 'title', "Verify Email Address") }}
{% set networkData = _Network.getNetworkData() %}
{% set homeUrl = networkData.networkLogoLinkUrl %}
<div class="search__heading">
    <div class="text-center">
        {% if success == '1' %}
            Your email address has been verified successfully.
        {% else %}
            Verification of email address failed.
        {% endif %}
    </div>
    <div class="text-center">
        <a href="{{homeUrl}}" class="button search__button">Back to Homepage</a>
    </div>
</div>
