body {
    &.active {
        overflow: hidden;
    }
}

#simplemodal-overlay {
    display: none!important;
}


.social-links {
    .fa {
        display: block;
        color: $white;
        width: 30px;
        display: inline-block;
        height: 30px;
        border-radius: 100px;
        background-color: #4A4A4A;
        padding-top: 9px;
        margin: auto auto auto 5px;
        text-align:center;
        @include transition(color 0.5s ease);
    }
}

.subscribe-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff3cb;
    padding: 94px 30px 70px;
    margin: 0px 0px 50px;
    &__content {
        max-width: 100%;
        margin-bottom: 38px;
        flex-shrink: 1;
        text-align: center;
        @include tablet-lg {
            max-width: 720px;
        }
    }
    &__title {
        @include text-lg($color: $body-text, $font-multiplier: 2.5, $font-multiplier-sm: 2);
        margin-bottom: 10px;
        line-height: 45px;
    }
    &__paragraph {
        @include text-md($color: $body-text, $line-height: 1.8);
    }
    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 300px;
        @include tablet {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            max-width: 3000px;
        }
    }
    &__input {
        @include text-md($color: $body-text, $line-height: 1.8);
        width: 100%;
        max-width: 518px;
        border-radius: 4px;
        border: none;
        padding: 9px 25px;
        @include tablet {
        }
    }
    &__button {
        margin: 15px 0px 0px;
        width: 100%;
        max-width: 500px;
        @include tablet {
            margin: 0px 0px 0px 12px;
            max-width: 180px;
        }
    }
}

@include desktop {
    ul li.dropdown:hover > ul.dropdown-menu, ul.dropdown-menu:hover {
        display: block;
    }
    ul li.secondary-dropdown:hover > ul.secondary-dropdown-menu, ul.secondary-dropdown-menu:hover {
        display: block;
        position: absolute;
        background: $white;
        width: 100%;
        left: 100%;
        top: 0px;
    }
}

.secondary-dropdown {
    position: relative;
}

.secondary-dropdown-menu {
    display: none;
    border-radius: 0px 0px 4px 4px;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    li {
        @include transition(all $transition ease);
        a {
            padding: 13px 20px;
            width: 100%;
            display: block;
        }
        &:hover {
            box-shadow: none;
        }
    }
}

.dropdown-menu {
    margin-top: 0;
}
.col-centered {      
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.upper {
    text-transform: uppercase;
}
.call-to-action {
    color: $body-text;
    position: relative;
    padding: 50px 0; 
    margin-bottom: 30px;
    background-color: $highlight-color;
    width: 100%;
    .content-area {
        padding:(0 40px);
        position: relative;
        h3 {
            @include text-md($color: $body-text, $font-multiplier: 2.5);
        }
        p {
            @include text-md($color: $body-text);  
            margin-bottom: 20px;
        }
    }
    &-wrapper {
        width: 100%;
        .row {
            display: flex;
            padding-left: 15px;
            padding-right: 15px;
            width: 100%;
            justify-content: space-between;
            margin-left: 0px;
            margin-right: 0px;
            @media screen and (max-width: 992px) {
                padding-left: 0px;
                padding-right: 0px;
            }
        }
    }
}
.image-covered {
    @include image_background();
} 
