// Global variables
@import "variables";
@import "mixins";

// Libraries
@import "lib/bootstrap/stylesheets/bootstrap";
@import "lib/font-awesome-4.6.3/stylesheets/font-awesome.scss";
@import "lib/dropzone/stylesheets/dropzone";
@import "lib/slick";
@import "lib/zoom";

// Bootstrap
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Resets
@import "variables";
@import "layout";
@import "reset";
@import "application";

// Common
@import "common";
@import "hasmargins";

// Blocks
@import "blocks/header";
@import "blocks/responsive-navigation";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/card";
@import "blocks/contact";
@import "blocks/button";
@import "blocks/slides";
@import "blocks/article";
@import "blocks/blog";
@import "blocks/tooltip";
@import "blocks/user_posts";
@import "blocks/profile";
@import "blocks/landing-page";
@import "blocks/landing-page-side-form";
@import "blocks/search";
@import "blocks/auth";
@import "blocks/channel-card";
@import "blocks/event-card";
@import "blocks/product-card";
@import "blocks/static-page";
@import "blocks/social-bar";
@import "blocks/events-list";
@import "blocks/event";
@import "blocks/services";
@import "blocks/product";
@import "blocks/product-list";
@import "blocks/product-related";
@import "blocks/channel-overview";
@import "blocks/blog-overview";
@import "blocks/view-all";
@import "blocks/login";
@import "blocks/account-modal";   

// Library
@import "lib/owl.carousel";

// Internet explorer
@import "ie/ie8";
@import "ie/ie";
